.nav-link{
    color: aliceblue;
    font-size: 12px;
}
.select-language.css-2b097c-container{
    font-size: 12px;
    height: 10px;
    width:200px;
    padding-top:5px;
   
   
}

.css-yk16xz-control{
    color: black;
    background: red;
}